body {
    background-color: #0D0221;
    color: #2de2e6;
    font-family: "Orbitron", sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 65px;
    text-align: center;
    border: 2px solid magenta;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: magenta 2px 2px 5px;
    box-shadow: magenta 2px 4px 10px;
    border-radius: 10px;
}

.container #klikattava {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;

}

.container #klikattava img {
    width: 500px;
    user-select: none;

}

@keyframes bounce {
  0%   { transform: scale(1); }
  30%  { transform: scale(1.15); }
  50%  { transform: scale(0.95); }
  70%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/* Bounce animaatio */
.bounce {
  animation: bounce 0.2s ease;
}

.container #powerUpNappi {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #261447;
    color: #ffffff;
    border: 2px solid magenta;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: #2de2e6 2px 2px 5px;
    box-shadow: magenta 2px 4px 10px;
    border-radius: 10px;

}

#resetNappi {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    background-color: #261447;
    color: #ffffff;
    text-align: center;
    border: 2px solid magenta;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: #2de2e6 2px 2px 5px;
    box-shadow: magenta 2px 4px 10px;
    border-radius: 10px;
}

.card {
    background-color: #0D0221;
    color: #ffffff;
    text-align: center;
    border: 2px solid magenta;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: magenta 2px 2px 5px;
    box-shadow: magenta 2px 4px 10px;
    border-radius: 10px;
}